Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      LaunchTemplate:
        LaunchTemplateId: lt-0a428b211e9a18af4
        Version: '$Latest'
      MinSize: '1'
      MaxSize: '1'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: application.py
    FLASK_ENV: production
    DATABASE_URL: postgresql://postgres:roamiopass@roamio.czugw66qwqxb.us-east-2.rds.amazonaws.com:5432/roamio
    SECRET_KEY: your-secret-key
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance