{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Messages</h2>
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if users %}
                <div class="list-group">
                    {% for user in users %}
                    <a href="{{ url_for('chat.chat_detail', user_id=user.id) }}" 
                       class="list-group-item list-group-item-action">
                        {{ user.username }}
                    </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">No messages yet</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}